.Experience__Gridbox{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.5rem;
    margin-left: 1rem;
    margin-right: auto;
    max-width: auto;
}
.Experience__Flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:stretch;
    align-content: baseline;
    background: rgba(44, 44, 44, 44);
    border-radius: 1rem;
    margin-bottom: 0;
}
.Experience__Item{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: rgb(22,22,22);
    max-height: 13rem;
    min-height: 11rem;
    max-width: 18rem;
    display: flex;
    text-align: center;
    justify-content: center;
}
.Experience__Img{
    max-height: 3.5rem;
    padding: 1rem;
}
.Experience__Item p{
    color: white;
    margin: 1rem;
}