.Footer{
    border-radius: 1rem;
    display: grid;
    background: rgba(44, 44, 44, 44);
    grid-template-columns: 5fr 5fr 2fr;
    margin: 1rem;
    margin-bottom: 0.2rem;
    margin-right: 4%;
    max-height: 4rem;
}
.Footer__Name{
    padding: 2%;
    font-weight: bold;
    color: white;
}
.Footer__Social{
    color: white;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
}
.Footer__Contact{
    color: white;
    font-weight: lighter;
}

.Footer__S__Icon{
    padding: 0.2rem;
    max-height: 2.5rem;
}